h1 {
  text-align: center;
  font-family: "Barlow", sans-serif;
}
h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.navigation {
  font-family: "Inter", sans-serif;
}
.navigation .navbar-nav {
}
.navigation .navbar-nav a {
  text-transform: uppercase;
}
.nav-item.nav-link {
  color: #211717;
}
.nav-item.nav-link.active {
  color: #a34a28;
}
.nav-item.nav-link:hover {
  color: #a34a28;
}
