body {
  color: #211717;
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-weight: 400;
}
h1 {
  text-transform: uppercase;
  color: #a34a28;
  font-size: 112px;
}
h2 {
  font-size: 40px;
  text-transform: uppercase;
}
h4 {
  font-weight: 300;
  margin-top: 20px;
}
.navigation {
  font-family: "Inter", sans-serif;
}
.navigation .navbar-nav a {
  text-transform: uppercase;
}
.nav-item.nav-link {
  color: #211717;
}
.nav-item.nav-link.active {
  color: #a34a28;
}
.nav-item.nav-link:hover {
  color: #a34a28;
}
.main-img.container-fluid {
  padding: 0;
  background-image: url(/images/balcony\ LR1-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 500px;
}

footer a {
  color: #a34a28;
  text-decoration: none;
}
